#mobile{
  color:rgb(15, 84, 166);
}
#corazon{
  color:rgb(213, 78, 78);
}
#trueno{
  color: yellow;
}
#cohete{
  color: rgb(125, 209, 247);
}
#hoja{
  color: green;
}
#face{
  color: black;
}
#face:hover{
  color: #3b5998;
}
#twitter{
  color: black;
}
#twitter:hover{
  color: #55acee;
}
#instagram{
  color: black;
}
#instagram:hover{
  color: #cd486b;
}
#desktop{
  color: rgb(16, 159, 47);
}
#magnet{
  color: rgb(198, 44, 44);
}
