@font-face {
font-family: 'Pacifico';
src: url('../fonts/Pacifico/Pacifico-Regular.ttf');
}
.image {
position: relative;
text-align: center;
width: 100%; /* for IE 6 */
}
#imagen{
  opacity: 0.8;
}
div h1 span{
position: absolute;
top: 300px;
left: 0;
width: 100%;
color: black;
font-family: Pacifico;
}
div h4 span{
  position: absolute;
  top: 300px;
  left: 0;
  width: 100%;
  color: black;
  font-family: Pacifico;
}
#cosa{
  font-family: Pacifico;
}
.letraB{
  font-family: Pacifico;
}
