body{
  position: relative;
}
.slider{
  background: url('../images/fondo.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.encabezado{
  color:white;
}
.tituloP{
  font-size: 23px;
}
#sitios{
  width: 250px;
}
.fondo-tecnologias{
  background-color: #3a3b3c;
}
